// Created by nana on 2017/8/26.

doctype html
html
  head
  body
    h1.titleClass #titleID My First Jade Page
//
////编译出来的结果
//<!DOCTYPE html>
//<html>
//<head></head>
//<body>
//  <h1 id="titleID" class="titleClass">My First Jade Page</h1>
//</body>
//</html>
